body {
	color:rgb(14, 35, 92);
    background-color:rgb(242, 242, 243)
}

.divi1{
    width:  30%;
    height: 100px;
    margin: 10px; 
    padding: 10px;
    color:rgb(14, 35, 92);
    background-color: rgb(35, 157, 173);
    float: left
}

.divi2{
    width:  30%;
    height: 100px;
    margin: 10px; 
    padding: 10px;
    color:rgb(14, 35, 92);
    background-color: rgb(35, 157, 173);
    float: left
}

.divi3{
    width:  30%;
    height: 100px;
    margin: 10px; 
    padding: 10px;
    color:rgb(14, 35, 92);
    background-color: rgb(35, 157, 173);
    float: left
}